.listToDoLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-top: 0;
}

.listToDoLeft::-webkit-scrollbar {
    width: .5rem;
}

.listToDoLeft::-webkit-scrollbar-track {
    background: transparent;
  }

.listToDoLeft::-webkit-scrollbar-thumb {
    background: #000000; /* Color del pulgar de la barra de desplazamiento */
  }

