.ItemToDoLeftCompleted {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: .1rem solid black;
    transition: opacity 1s ease ;
    width: 15rem;
  }
  
  .actionsContainerToDo {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: 10rem;
  }  
  
  .actionIconsLeftCheck {
    font-size: 1.5rem;
  }
  
  .actionIconsLeftCheck:hover {
    color: green;
    cursor: pointer;
  }
  
  .actionIconsLeftClose {
    font-size: 1.5rem;
  }
  
  .actionIconsLeftClose:hover {
    color: red;
    cursor: pointer;
  }
  
  .actionsContainerToDo span {
    margin: 0 .4rem;
  }