.listToDoLeft {
    display: inline-flex;
    flex-direction: column;
    width: 15rem;
    height: 25rem;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    margin: 1rem;
}

.listToDoLeft::-webkit-scrollbar {
    width: .5rem;
}

.listToDoLeft::-webkit-scrollbar-track {
    background: transparent;
  }

.listToDoLeft::-webkit-scrollbar-thumb {
    background: #000000; /* Color del pulgar de la barra de desplazamiento */
  }

