
.header-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0 1rem;
}

.first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-tittle {
    margin: 0rem 1rem;
}

.arrow-icons {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.plus-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}