
.header-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0 1rem;
    position: relative;
}

.first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-tittle {
    margin: 0rem 1rem;
    text-align: center;
    font-family:'VT323', monospace;  ;
}

.arrow-icons {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.plus-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.newtodo-panel-hidden {
    display: none;
}
.newtodo-panel {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 40rem;
    position: absolute;
    align-items:left;
    background-color:  #eeee;
    z-index: 900;
}
.newtodo-panel input {
    width: 14rem;
    height: 2rem;
}
.newtodo-panel button {
    width: 15rem;
    height: 3rem;
    padding: 0;
    cursor: pointer;
}